@charset "utf-8";

body{
  background: #eaeaea;
}

.firstview{
  width: 100%;
  padding: 16px;
  height: 640px;
  color: #fff;
  background: url(22475643_l.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  header{
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
  
    nav a{
      margin: 32px;
      color: #fff;
    }
  }
}

{

}